<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fun.culture.mapper.TUserMapper">

    <resultMap id="BaseResultMap" type="com.fun.culture.entity.TUser">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="deletedAt" column="deleted_at" jdbcType="TIMESTAMP"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="headImg" column="head_img" jdbcType="VARCHAR"/>
            <result property="topImg" column="top_img" jdbcType="VARCHAR"/>
            <result property="signature" column="signature" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="birthday" column="birthday" jdbcType="TIMESTAMP"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
            <result property="root" column="root" jdbcType="INTEGER"/>
            <result property="currency" column="currency" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,created_at,updated_at,
        deleted_at,username,password,
        head_img,top_img,signature,
        email,birthday,state,
        root,currency
    </sql>
</mapper>
